@model Employee_Onboarding.Models.Professionalinfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Professionalinfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Professionalid" class="control-label"></label>
                <input asp-for="Professionalid" class="form-control" />
                <span asp-validation-for="Professionalid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkExperience" class="control-label"></label>
                <input asp-for="WorkExperience" class="form-control" />
                <span asp-validation-for="WorkExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldOfExperience" class="control-label"></label>
                <input asp-for="FieldOfExperience" class="form-control" />
                <span asp-validation-for="FieldOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experties" class="control-label"></label>
                <input asp-for="Experties" class="form-control" />
                <span asp-validation-for="Experties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
